In [1]:
import pandas as pd

In [22]:
df = pd.read_csv('data/Seasons/2014/rounds.csv')
df[['HomeTeamnNameCode','AwayTeamNameCode','HomeScoreFT','AwayScoreFT']].head()

  HomeTeamnNameCode AwayTeamNameCode HomeScoreFT AwayScoreFT
0               MUY              SOF           1           1
1               SSU              TFN           3           3
2               ULS              CSU           1           1
3               WST              MAU           1           1
4               BAN              KAU           2           2