In [1]:
import pandas as pd

In [6]:
game = pd.read_csv('C:/myprojects/KPL-Project/data/Seasons/2014/rounds.csv')
table = pd.read_csv('C:/myprojects/KPL-Project/data/Seasons/2014/table.csv')

In [14]:

game['Date'] = pd.to_datetime(game['Date'])
game['StartTime'] = pd.to_time(game['StartTime'])

C:\Users\ereez\AppData\Local\Temp\ipykernel_6632\1515106368.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  game['StartTime'] = pd.to_datetime(game['StartTime'])

In [ ]:
matchdim = game[['MatchID', 'Date', 'MatchStatus', 'HomeTeamName', 'AwayTeamName']]
hometeamdim = game[['HomeTeamName', 'HomeScoreFT']]
awayteamdim = game[['AwayTeamName', 'AwayScoreFT']]
teamdim = table[['TeamID', 'TeamName', 'NameCode', 'TeamColors']]
fact

In [17]:
game.head(3)

,Tournament,Season,Round,Date,StartTime,MatchID,MatchCustomID,MatchStatus,HomeTeamName,HomeTeamNameCode,HomeTeamID,AwayTeamName,AwayTeamNameCode,AwayTeamID,HomeScoreFT,AwayScoreFT
0,Kenyan Premier League,2014,1,2014-02-15,2024-10-14 15:00:00,5022474,JufbsNufb,Finished,Muhoroni Youth FC,MUY,138484,Sofapaka,SOF,138488,1,1
1,Kenyan Premier League,2014,1,2014-02-15,2024-10-14 15:00:00,5022472,PufbsUufb,Finished,Sony Sugar,SSU,138490,Top Fry Nakuru,TFN,138494,3,3
2,Kenyan Premier League,2014,1,2014-02-15,2024-10-14 15:00:00,5022476,BufbsYufb,Finished,Ulinzi Stars,ULS,138498,Chemelil Sugar,CSU,138476,1,1

In [15]:
game.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254 entries, 0 to 253
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Tournament        254 non-null    object
 1   Season            254 non-null    int64
 2   Round             254 non-null    int64
 3   Date              254 non-null    datetime64[ns]
 4   StartTime         254 non-null    datetime64[ns]
 5   MatchID           254 non-null    int64
 6   MatchCustomID     254 non-null    object
 7   MatchStatus       254 non-null    object
 8   HomeTeamName      254 non-null    object
 9   HomeTeamNameCode  254 non-null    object
 10  HomeTeamID        254 non-null    int64
 11  AwayTeamName      254 non-null    object
 12  AwayTeamNameCode  254 non-null    object
 13  AwayTeamID        254 non-null    int64
 14  HomeScoreFT       254 non-null    object
 15  AwayScoreFT       254 non-null    object
dtypes: datetime64[ns](2), int64(5), object(9)
memory usage: 31.9+ KB

In [18]:
table.head()

,TeamName,NameCode,ShortName,TeamID,TeamColors,Position,Played,Won,Drawn,Lost,GF,GA,Points
0,Gor Mahia FC,GOR,Gor Mahia,134306,"['#008000', '#000000']",1,30,17,9,4,43,21,60
1,Sofapaka,SOF,Sofapaka,138488,"['#ffffff', '#0000ff']",2,30,16,9,5,49,27,57
2,Ulinzi Stars,ULS,Ulinzi Stars,138498,"['#ff0000', '#ffffff']",3,30,12,15,3,33,20,51
3,Tusker,TUS,Tusker,138496,"['#ffdf00', '#000000']",4,30,13,11,6,40,27,50
4,Chemelil Sugar,CSU,Chemelil Sugar,138476,"['#ffff00', '#000000']",5,30,12,12,6,24,16,48