In [84]:
import pandas as pd
import ast

In [2]:
game = pd.read_csv('C:/myprojects/KPL-Project/data/Seasons/2014/rounds.csv')
table = pd.read_csv('C:/myprojects/KPL-Project/data/Seasons/2014/table.csv')

In [3]:

game['Date'] = pd.to_datetime(game['Date'])

In [95]:
teamdim = table[['TeamID', 'TeamName', 'NameCode', 'TeamColors']].drop_duplicates().reset_index(drop=True)
teamdim['TeamColors'] = teamdim['TeamColors'].apply(ast.literal_eval)
teamdim[['PrimaryColor','SecondaryColor']] = pd.DataFrame(teamdim['TeamColors'].tolist(), index=teamdim.index)
teamdim.drop(columns=['TeamColors'], inplace=True)
teamdim.set_index('TeamID')

                     TeamName NameCode PrimaryColor SecondaryColor
TeamID
134306           Gor Mahia FC      GOR      #008000        #000000
138488               Sofapaka      SOF      #ffffff        #0000ff
138498           Ulinzi Stars      ULS      #ff0000        #ffffff
138496                 Tusker      TUS      #ffdf00        #000000
138476         Chemelil Sugar      CSU      #ffff00        #000000
76433         AFC Leopards SC      LDS      #ffffff        #0000ff
138484      Muhoroni Youth FC      MUY      #374df5        #374df5
138490             Sony Sugar      SSU      #008633        #ffffff
138492           Thika United      TUN      #374df5        #374df5
138482         Mathare United      MAU      #ffff00        #006600
138500       Western Stima FC      WST      #ffff00        #0000ff
138480   Kenya Rev. Authority      KAU      #374df5        #374df5
138474             Bandari FC      BAN      #3050c6        #ffffff
138478  Kenya Commercial Bank      KCB      #00dd00        #004165
138486  Nairobi City Stars FC      NCS      #273887        #f74f00
138494         Top Fry Nakuru      TFN      #374df5        #374df5

In [26]:
seasondim = game[['Season']].drop_duplicates().reset_index(drop=True)
seasondim.rename(columns={'Season': 'SeasonID'}, inplace=True)
seasondim['SeasonName'] = 'SSN-' + str(game['Season'][0])
seasondim.set_index('SeasonID')

         SeasonName
SeasonID
2014       SSN-2014

In [104]:
tournaments = {
    'Kenyan Premier League': 1,
    'Kenyan Super Cup': 2
}
tournamentdim = game[['Tournament']].reset_index(drop=True).drop_duplicates()
tournamentdim['TournamentID'] = tournamentdim['Tournament'].map(tournaments)
tournamentdim.set_index('TournamentID')

                         Tournament
TournamentID
1             Kenyan Premier League

In [103]:
melt_game = game.melt(id_vars=['MatchID', 'MatchCustomID', 'Round', 'Date','StartTime','Season',
                                'MatchStatus', 'HomeScoreFT', 'AwayScoreFT', 'Tournament'],
                      value_vars=['HomeTeamID', 'AwayTeamID'],
                      var_name='TeamType',
                      value_name='TeamID').rename(columns={'Season': 'SeasonID'})
facttable = melt_game.merge(teamdim, on='TeamID').merge(seasondim, on='SeasonID').merge(tournamentdim, on='Tournament')
facttable.head(10)

,MatchID,MatchCustomID,Round,Date,StartTime,SeasonID,MatchStatus,HomeScoreFT,AwayScoreFT,Tournament,TeamType,TeamID,TeamName,NameCode,PrimaryColor,SecondaryColor,SeasonName,TournamentID
0,5022474,JufbsNufb,1,2014-02-15,15:00,2014,Finished,1,1,Kenyan Premier League,HomeTeamID,138484,Muhoroni Youth FC,MUY,#374df5,#374df5,SSN-2014,1
1,5022472,PufbsUufb,1,2014-02-15,15:00,2014,Finished,3,3,Kenyan Premier League,HomeTeamID,138490,Sony Sugar,SSU,#008633,#ffffff,SSN-2014,1
2,5022476,BufbsYufb,1,2014-02-15,15:00,2014,Finished,1,1,Kenyan Premier League,HomeTeamID,138498,Ulinzi Stars,ULS,#ff0000,#ffffff,SSN-2014,1
3,5022470,Hufbsavfb,1,2014-02-15,15:00,2014,Finished,1,1,Kenyan Premier League,HomeTeamID,138500,Western Stima FC,WST,#ffff00,#0000ff,SSN-2014,1
4,5022478,zufbsFufb,1,2014-02-16,15:00,2014,Finished,2,2,Kenyan Premier League,HomeTeamID,138474,Bandari FC,BAN,#3050c6,#ffffff,SSN-2014,1
5,5022480,RufbsWufb,1,2014-02-16,15:00,2014,Finished,1,1,Kenyan Premier League,HomeTeamID,138492,Thika United,TUN,#374df5,#374df5,SSN-2014,1
6,5022484,IDFsDufb,1,2014-02-19,15:00,2014,Finished,1,1,Kenyan Premier League,HomeTeamID,138478,Kenya Commercial Bank,KCB,#00dd00,#004165,SSN-2014,1
7,5022482,gLdbsLufb,1,2014-02-20,15:00,2014,Finished,2,2,Kenyan Premier League,HomeTeamID,134306,Gor Mahia FC,GOR,#008000,#000000,SSN-2014,1
8,5065702,DufbsFufb,2,2014-02-22,14:00,2014,Finished,1,1,Kenyan Premier League,HomeTeamID,138480,Kenya Rev. Authority,KAU,#374df5,#374df5,SSN-2014,1
9,5065704,BufbsJufb,2,2014-02-22,15:00,2014,Finished,2,2,Kenyan Premier League,HomeTeamID,138476,Chemelil Sugar,CSU,#ffff00,#000000,SSN-2014,1

In [52]:
table
#game

,TeamName,NameCode,ShortName,TeamID,TeamColors,Position,Played,Won,Drawn,Lost,GF,GA,Points
0,Gor Mahia FC,GOR,Gor Mahia,134306,"['#008000', '#000000']",1,30,17,9,4,43,21,60
1,Sofapaka,SOF,Sofapaka,138488,"['#ffffff', '#0000ff']",2,30,16,9,5,49,27,57
2,Ulinzi Stars,ULS,Ulinzi Stars,138498,"['#ff0000', '#ffffff']",3,30,12,15,3,33,20,51
3,Tusker,TUS,Tusker,138496,"['#ffdf00', '#000000']",4,30,13,11,6,40,27,50
4,Chemelil Sugar,CSU,Chemelil Sugar,138476,"['#ffff00', '#000000']",5,30,12,12,6,24,16,48
5,AFC Leopards SC,LDS,Leopards,76433,"['#ffffff', '#0000ff']",6,31,11,11,9,32,25,44
6,Muhoroni Youth FC,MUY,Muhoroni Youth,138484,"['#374df5', '#374df5']",7,30,11,10,9,25,26,43
7,Sony Sugar,SSU,Sony Sugar,138490,"['#008633', '#ffffff']",8,31,9,14,8,28,23,41
8,Thika United,TUN,Thika Utd,138492,"['#374df5', '#374df5']",9,30,9,12,9,30,31,39
9,Mathare United,MAU,Mathare Utd,138482,"['#ffff00', '#006600']",10,30,10,8,12,19,25,38
10,Western Stima FC,WST,Western Stima,138500,"['#ffff00', '#0000ff']",11,30,9,9,12,26,33,36
11,Kenya Rev. Authority,KAU,Kenya Revenue,138480,"['#374df5', '#374df5']",12,30,10,3,17,22,40,33
12,Bandari FC,BAN,Bandari,138474,"['#3050c6', '#ffffff']",13,30,5,15,10,23,29,30
13,Kenya Commercial Bank,KCB,KCB,138478,"['#00dd00', '#004165']",14,30,7,8,15,30,39,29
14,Nairobi City Stars FC,NCS,City Stars,138486,"['#273887', '#f74f00']",15,30,4,12,14,18,35,24
15,Top Fry Nakuru,TFN,Top Fry,138494,"['#374df5', '#374df5']",16,30,3,8,19,13,38,17